body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #F5F6F8;
    font-family: 'Poppins', sans-serif;
}
.logo {
    position: absolute;
    width: 139px;
    height: 26px;
    left: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #109CF1;
    z-index: 1;
}

.top-divider {
    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    top: 60px;

    background: #EBEFF2;
}

.sidenav {
    position: absolute;
    width: 256px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;

    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.sidenav .navs {
    position: absolute;
    /* width: 174px; */
    /* height: 20px; */
    left: 22px;
    top: 167px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.menu-item {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;    
    letter-spacing: 0.01em;
    color: #334D6E;
    margin-bottom: 20px;

    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-item svg {
    margin-right: 14px;  
}

.top-nav {
    height: 60px;
    background-color: white;
}

.profile {
    position: absolute;
    width: 208px;
    height: 46px;
    left: 24px;
    top: 85px;

    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile .user-photo {
    width: 46px;
    height: 46px;
}

.profile div {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.profile .username {
    /* position: absolute; */

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 2px;
    margin: 0;


    color: #192A3E;
}

.profile .user-email {
    /* position: absolute; */

    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    
    letter-spacing: 0.01em;

    
    color: #90A0B7;
}

.setting-div {
    position: absolute;
    width: 256px;
    height: 1px;
    left: 0px;
    top: 415px;

    /* divider */

    background: #EBEFF2;
}

.settings {
    position: fixed;
    left: 24px;
    top: 440px
}

/* dash components */


/* calendar */
.calendar {
    position: absolute;
    height: 718px;
    left: 292px;
    right: 513px;
    top: 96px;

    /* white */

    background: #FFFFFF;
    /* box shadow */

    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.task-progress {
    position: absolute;
    left: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.01em;

    color: #334D6E;

    margin-top: 16px;
    margin-bottom: 16px;
}

.cal-divider {
    position: absolute;
    left: 24px;
    right: 24px;
    top: 52px;

    /* divider */

    background: #EBEFF2;
    border-radius: 3px;
}

.cal-progress {
    height: 4px;
    width: 42%;
    background: #2ED47A;
}

.cal-date {
    position: absolute;
    left: 24px;
    top: 76px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #192A3E;
}

.dates {
    /* margin-left: 24px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    left: calc(50% - 32px/2 - 277.5px);
    top: 145px;

    width: 587px;
}

.day-active {
    color: #109CF1 !important;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;


    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;

    /* dark_blue */
    color: #90A0B7;
}


.task-div {
    width: 100%;

    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    top: 200px;

    /* divider */

    background: #EBEFF2;
}

.task-list {
    position: absolute;
    width: 587px;
    height: 276px;
    left: 24px;
    top: 243px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.task {
    height: 126px;
    background: #FFFFFF;
    
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.task .content {
    margin: 16px;
}

.task .card-head {
    display: flex;
    justify-content: space-between;
}

.msg {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* table_black */

    color: #323C47;
    z-index: 1;
}

.msg-type {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: right;
    letter-spacing: 0.01em;
    
    /* gray */
    
    color: #90A0B7;
}

.msg-date {
    font-size: 13px;
    line-height: 19px;

    letter-spacing: 0.01em;
    color: #4C5862;
    opacity: 0.5;

    margin-bottom: 8px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.provider {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.provider-name {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    margin-left: 12px;
    color: #707683;
}

.task-stat {
    height: 45px;
    width: 122px;
    background: #FFB946;
    border-radius: 4px;
    float: right;

    font-size: 11px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    justify-content: center;
    align-items: center;    
    letter-spacing: 0.02em;

    /* white */
    color: #FFFFFF;
}

.older {
    position: absolute;
    bottom: 24px;
    width:100%;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;

    /* Accent blue */

    color: #109CF1;
}

/* -------------= end of calendar =------------ */

/* ======================- daily msg -===================================*/

.daily-msg {
    position: absolute;
    width: 445px;
    height: 344px;
    right: 36px;
    top: 96px;

    background: white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.daily-header {
    margin: 24px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
}

.daily-header p {
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* black */

    color: #192A3E;
}

.daily-header div {
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #109CF1;
}

.type {
    color: #6A707E;
}

.daily-div {
    height: 1px;
    background: #EBEFF2;
}

.daily-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    margin:24px 24px 0 24px;
}

.circle {
    position: relative;
    width: 164px;
    height: 164px;
    /* left: 28px;
    top: 80px; */

    border: 8px solid #2ED47A;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.daily-result {

    font-weight: 500;
    font-size: 56px;
    line-height: 84px;
    text-align: center;
    
    /* green */
    
    color: #2ED47A;
}

.daily-content p {
    margin: 0;
    width: 50%;
}

.daily-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px 24px 24px 24px;

}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sm-circ {
    width: 8px;
    height: 8px;
    border: 2px solid #2ED47A;
    box-sizing: border-box;
    border-radius: 50%;
}

.desc {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #192A3E;
    margin: 0 0 0 8px;
}

.start-test {
    height: 45px;
    width: 122px;
    background: #FFB946;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.start-test:hover {
    background: #CC8613;
}
/* end of daily msg */

/* **************************chart progress chart******************************* */

.progress-data {
    position: absolute;

    width: 445px;
    height: 344px;
    right: 35px;
    top: 470px;

    background: white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.chart {
    margin-top:16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* end of chart */


/* modal view 1*/

.popup {
    position: fixed; 
    padding-top: 100px; /* Location of the box */

    display: none;

    z-index: 1;

    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.25); /* Black w/ opacity */
    transition: all 0.3s;


}

.mod-content {
    width: 650px;
    height: 623px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
    /* position: absolute; */
    margin: auto;
}

.mod-header {
    text-align: center;
}


.mod-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* black */
    color: #192A3E;
}

.exit {
    float:right;
}

.exit:hover {
    cursor: pointer;
}

.exit path {
    fill: #C2CFE0;
}

.exit path:hover {
    fill: rgb(98, 104, 112);
}


.modal-div {
    height: 1px;
    background: #EBEFF2;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 20px;
}

.spiral-desc {
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.01em;
    /* dark_gray text */
    color: #4C5862;
    padding: 22px;
}

#sig-canvas {
    background-image: url(imgs/Spiral_image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    margin: auto;
    display: block;
}



.clear, .eval, .retry {
    border-radius: 4px;
    width: 115px;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
/* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

/* white */

    color: #FFFFFF;
}

.clear {
    background: #0D0CEB;
    cursor: pointer;
}
.clear:hover {
    background: rgb(7, 7, 177);
}

.eval, .retry {
    background-color: #FFB946;
    margin-left: 20px;
    cursor: pointer;
}

.eval:hover, .retry:hover {
    background-color: #CC8613;
}


.mod-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

.result {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #323C47;

    margin-top: 50px;

    margin-left: 70px;
    margin-right: 70px;
}

.res-desc {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #4C5862;

    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
}

.res-img {
    border: 1px solid black;
    margin: auto;
    display: block;

    height: 272px;
    width: 306px;
    margin-bottom: 43px;
}

.dl-spiral {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;

    /* Accent blue */

    color: #109CF1;
}